html,
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(141, 198, 255) 1.2%,
    rgb(241, 247, 250) 100.2%
  );
  height: 100%;
  color: #22313f;
  font-weight: normal;
}

.App .container {
  margin: 40px auto;
  max-width: 700px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(156, 156, 156);
  padding: 30px 30px 15px;
  background: #fff;
}

.created-by {
  font-size: 12px;
  margin-left: 30px;
  margin-top: 50px;
}
.created-by a {
  color: #22313f;
}
